In [50]:
#Importing Python Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy as stats
from scipy.stats import pearsonr

In [52]:
#Importing the Dataset 

df=pd.read_csv(r"C:/Users/vmwambua/Desktop/Personal/Learning/Lux Bootcamp/Telco_Customer_Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [54]:
#Checking the shape of the Data Frame

rows,columns=df.shape
print(f"This dataset has {rows} records and {columns} columns.")

This dataset has 7043 records and 21 columns.

In [56]:
#Checking for null values in the dataset

df.info()
df.isna().sum().sum()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

In [58]:
#Checking the Datatypes for each Column Variable

df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [60]:
#Change Data descriptions to streamline the description on some of the columns

df['MultipleLines']=df['MultipleLines'].replace(to_replace='.*No phone service*',value='No',regex=True)
df['OnlineSecurity']=df['OnlineSecurity'].replace(to_replace='.*No internet service*',value='No',regex=True)
df['OnlineBackup']=df['OnlineBackup'].replace(to_replace='.*No internet service*',value='No',regex=True)
df['DeviceProtection']=df['DeviceProtection'].replace(to_replace='.*No internet service*',value='No',regex=True)
df['TechSupport']=df['TechSupport'].replace(to_replace='.*No internet service*',value='No',regex=True)
df['StreamingTV']=df['StreamingTV'].replace(to_replace='.*No internet service*',value='No',regex=True)
df['StreamingMovies']=df['StreamingMovies'].replace(to_replace='.*No internet service*',value='No',regex=True)

In [60]:
#Checking to see the replacements done in the previous function

df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,True,0,True,True,1,True,True,DSL,True,...,True,True,True,True,Month-to-month,True,Electronic check,29.85,29.85,True
1,5575-GNVDE,True,0,True,True,34,True,True,DSL,True,...,True,True,True,True,One year,True,Mailed check,56.95,1889.50,True
2,3668-QPYBK,True,0,True,True,2,True,True,DSL,True,...,True,True,True,True,Month-to-month,True,Mailed check,53.85,108.15,True
3,7795-CFOCW,True,0,True,True,45,True,True,DSL,True,...,True,True,True,True,One year,True,Bank transfer (automatic),42.30,1840.75,True
4,9237-HQITU,True,0,True,True,2,True,True,Fiber optic,True,...,True,True,True,True,Month-to-month,True,Electronic check,70.70,151.65,True

In [62]:
#Checking sample data from a specific column, using random state to ensure the reproducibility of the examples
df['OnlineBackup'].sample(n=3, random_state=1)

3381    No
6180    No
4829    No
Name: OnlineBackup, dtype: object

In [115]:
#Converting the data in column MonthlyCharges to 2 decimal places

##Convert TotalCharges column to numeric values
df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')
##Rounding each value to 2 decimal places
df['MonthlyCharges'] = df['MonthlyCharges'].apply(lambda x: round(x, 2) if not pd.isnull(x) else x)

print(df['MonthlyCharges'])

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7038     84.80
7039    103.20
7040     29.60
7041     74.40
7042    105.65
Name: MonthlyCharges, Length: 7043, dtype: float64

In [117]:
#Converting the data in column TotalCharges to 2 decimal places

##Convert TotalCharges column to numeric values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
##Rounding each value to 2 decimal places
df['TotalCharges'] = df['TotalCharges'].apply(lambda x: round(x, 2) if not pd.isnull(x) else x)

print (df['TotalCharges'])

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [66]:
#Changing datatype of the columns

df['customerID']=df['customerID'].astype(object)
df['gender']=df['gender'].astype(bool)
df['Partner']=df['Partner'].astype(bool)
df['Dependents']=df['Dependents'].astype(bool)
df['PhoneService']=df['PhoneService'].astype(bool)
df['MultipleLines']=df['MultipleLines'].astype(bool)
df['InternetService']=df['InternetService'].astype(str)
df['OnlineSecurity']=df['OnlineSecurity'].astype(bool)
df['OnlineBackup']=df['OnlineBackup'].astype(bool)
df['DeviceProtection']=df['DeviceProtection'].astype(bool)
df['TechSupport']=df['TechSupport'].astype(bool)
df['StreamingTV']=df['StreamingTV'].astype(bool)
df['StreamingMovies']=df['StreamingMovies'].astype(bool)
df['PaperlessBilling']=df['PaperlessBilling'].astype(bool)
df['TotalCharges']=df['TotalCharges'].astype(float)
df['Churn']=df['Churn'].astype(bool)

In [68]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000